{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> My name is Shubhendu Anupam Dutta (शुभेन्दु अनुपम दत्त). I am a Indian national. Currently, I am studying for my Ph.D.
        in Department of Interdisciplinary Centre for Energy Research (ICER), Indian Institute of Science, Bangalore. I am
        working with Prof. Satyam Suwas and Prof. Satish V. Kailas.</p>
        <p> I obtained my B.Tech. (Hons.) and  M. Tech. from Indian Institute of Technology, Kharagpur. After passing
        matriculation from Saraswati Vidya Mandir, Gumla and +2 from DPS Ranchi, I took a one year break to prepare for
        IIT entrance exams. I got into IIT with AIR of less than 2500. I was quite proud of that.</p>
        <p> I went through quite a bit of up and down in IIT Kharagpur, My SGPA started from less than 6.0 (out of 10.0)
        and finally I got CGPA of greater than 8.5. In one semester I even got SGPA of 10.0.</p>
        <p> As from this website you can guess, that right now I am quite interested in Python. It started with learning
        python to automate somethings. Then it was about learning a bit seriously because some simulation (like DAMASK)
        were in python. Then I started liking web development via Flask, game development via Turtle, Data Science. I am
        now very close to completing 100 Days of Code, Python Bootcamp course in udemy. And I have learnt many many things
        about python. And I also found out that there are many many things there which I have yet to learn. I will continue
        on the journey of mastering python.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}